
header {
  display: block;
  padding: 20px;
  background: #171a21;
  color: #878684;
  font-size: 20px;
}

footer {
    display: block;
    position: absolute;
    text-align: center;
    padding: 5px;
    color: #8f98a0;
    font-size: 15px;
    background-color: #171a21;
    width: 100%;
    margin-top: -50px;
}

hr {
    border: none;
    background-color: #8f98a0;
    color: #8f98a0;
    height: 0.1px;
   }

a:link {
color: #8f98a0;
background-color: transparent;
text-decoration: none;
}

a:visited {
  color: #8f98a0;
  background-color: transparent;
  text-decoration: none;
}

a:hover {
  color: #fafafa;
  background-color: transparent;
  text-decoration: none;
}

a:active {
  color: #fafafa;
  background-color: transparent;
  text-decoration: none;
}
.navbar {
  display: flex;
  overflow: visible !important;
  justify-content: space-around;
  background: #171a21;
  font-size: 20px;
  max-width: 60%;
  margin-left: 20%
}

work_page{
  display: block;
  background: rgba(0, 0, 0, 0.2);
  margin-left: 20%;
  font-size: 16px;
  max-width: 70%;
  margin-left: 15%;
  color: #8f98a0;
  padding: 30px;
  padding-top: 4%;
  min-height: 100%;
  padding-bottom: 50px;
}
h1{
 padding-bottom: 9%;}

body, html{
height: 100%;
margin: 0;
background: #1b2838;
}

.btn-secondary.dropdown-toggle{
background-color: #171a21;
font-size: 20px;
outline: none;
color: #8f98a0;
border: 0px;
box-shadow: None;
}


.btn-secondary.dropdown{
background-color: #171a21;
font-size: 20px;
outline: none;
color: #8f98a0;
border: 0px;
box-shadow: None;
}
.btn-secondary:hover, .btn-secondary.dropdown-toggle:focus{
  color: #fafafa;
  background-color: #171a21;
  font-size: 20px;
  border: None
}
.btn-secondary:not(:disabled):not(.disabled):active, .btn-secondary:not(:disabled):not(.disabled).active,
.show > .btn-secondary.dropdown-toggle, .btn-secondary:not(:disabled):not(.disabled):active:focus, .btn-secondary:not(:disabled):not(.disabled).active:focus,
.show > .btn-secondary.dropdown-toggle:focus {
  color: #fafafa;
  background-color: #171a21;
  font-size: 20px;
  border: None;
  box-shadow: None;
}

.dropdown-menu{
background-color: #171a21;
outline: none;
color: #8f98a0;
font-size: 20px;
border: 0px;
box-shadow: None;
}

.dropdown-toggle{
background-color: #171a21;
outline: none;
font-size: 20px;
color: #fafafa;
border: None;
box-shadow: None;
}
.dropdown-item{
outline: none;
color: #8f98a0;
border: 0px;
font-size: 20px;
box-shadow: None;
background-color: #171a21;
}

.dropdown-item:hover{
background-color: #171a21;
outline: none;
font-size: 20px;
color: #fafafa;
border: 0px;
box-shadow: None;
}

.chat-link{
position: fixed;
font-size: 20px;
left: 93%;
top: 90%;
background-color: #171a21;
color: #8f98a0;
padding: 1%;
opacity: 0.8;
}
.chat-link:hover{
color: #fafafa;
opacity: 1;
}
.chat-style{
  display: block;
  font-size: 16px;
  color: #8f98a0;
  min-height: 100%;
  margin: 20px;
}