{% extends "base_mini.html" %}
{% block content %}

       <div class="overflow-auto">
           {% for item in messages%}
         {% if item[4] == curentusername %}
  <h6 align="right" style="padding-right: 10px">{{item[3]}}</h6>
  <h3 align="right" style="padding-right: 5px">{{item[2]}}</h3>
           {% else %}
             <h6 align="left" style="padding-left: 10px">{{item[3]}}</h6>
             <h3 align="left" style="padding-left: 5px">{{item[2]}}</h3>
{% endif %}
  {% endfor %}
        </div>
<p>
<div class="chat-box">

<form action="" method="post">
    {{ form.hidden_tag() }}
    <p>{{ form.submit(type="submit", class="btn btn-primary") }}</p>
        <p>
        {{ form.message(class="form-control") }}<br>
    </p>

    </form>
</div>
{% endblock %}