{% extends "base.html" %}

{% block content %}
<h1>Мои игры</h1>
{% for item in games %}
<div class="col-md6 border rounded">
    <h2>{{item.title}}</h2>
    <div align="right">
        Последний запуск - {{item.released}}
    </div>
    {% if current_user.is_authenticated and current_user == item.user %}
        <div>
            <a href="{{item.link}}" class="btn btn-success" target="_blank">
                Загрузить
            </a>
            <a href="/library_delete/{{ item.id }}" class="btn btn-danger">
                Удалить из библиотеки
            </a>
        </div>
    {% endif %}
</div>
{% endfor %}

{% endblock %}