{% extends "base_mini.html" %}
{% block content %}
<work_page>
<h1>Профиль {{ user.name }}</h1>
<div class="profile_description">
        <h2>О себе - {{user.about}}</h2>
        <h2>В Stem'е с: {{user.created_date}}</h2>
        {% if user.news %}
        <h2>Последняя новость: {{user.news[-1].title}}</h2>
        {% endif %}
        <h2>Email - {{user.email}}</h2>
        <dl>
            <dt>Сохранённые игры:</dt>
        {% for item in user.games %}
        <dd>{{ item.title }}</dd>
        {% endfor %}
        </dl>
        </div>
</work_page>
{% endblock %}